#alert{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    animation: anime 5s ease-in-out forwards;
}

@keyframes anime {
    0%{
        transform: translateX(-20rem);
    }

    10%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-20rem);
    }
}